.mat-stroked-button{
  border-color: red;
  margin-top: 10px;
  margin-left: -100px;
}


.boton-1{
  padding-top: 10px;
  float: left;
  margin-right: 100px;
  padding-left: 30%;
}

.check{
  margin-top: -10px;
  margin-left: 43%;
  
}


.mat-form-field{
  padding-top: 15px;
  margin-left: 30%;
  margin-right: 30px;
  float: left;
}


.boton-2{
  float: left;
  margin-left: 60px;
  margin-top: -10px;
  margin-bottom: -10px;

}


.stroked-1{
  border-color: rgb(95, 204, 95);
  color: rgb(95, 204, 95);
  margin-right: 30px;
  margin-left: -30px;
  margin-top: 250px;
  
}


.stroked-2{
  border-color: rgb(70, 144, 228);
  color: rgb(105, 173, 236);
  margin-left: 1px;
}


table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}


.txtbox-table {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.btn-danger {
  border: none;
  background-color: #bb0f0f;
  color: white;
  padding: 8px;
  cursor: pointer;
}


.btn-add {
  border: none;
  background-color: cornflowerblue;
  color: white;
  width: 100%;
  padding: 8px;
  cursor: pointer;
}

.container{
  width: 100%;
  height: 20%;
}

.color{ 
  border-color: black;
}




