<div class="container">
  <form [formGroup]="form" (ngSubmit)="guardar()">
    <table >
    <div class="boton-1">
     <button mat-raised-button color="primary" (click)="agregar()">+</button>
     <tbody *ngFor="let s of botones.controls; let i = index">
      <tr>
        <td>{{ i + 1 }}</td>
        <div>
          <mat-form-field appearance="fill" class="color">
            <mat-label>Utiles Escolares</mat-label>
            <input matInput >
          </mat-form-field>
          </div>
        <td><button mat-flat-button color="warn" class="boton-2" (click)="borrar(i)" type="button">Eliminar</button></td>
        <td>
        <div class="check">
          <mat-checkbox >Aceptar</mat-checkbox>
          <!-- <mat-checkbox [disabled]="true">Disabled</mat-checkbox> -->
        </div>
        </td>

      </tr>
      
 
    </tbody>
    
    </div>
    <div>
    <button mat-stroked-button color="warn" class="stroked">Eliminar todo</button>
  </div>
      <button mat-stroked-button class="stroked-1" (click)="guardar()" [disabled]="form.invalid">Guardar</button>
      <button mat-stroked-button class="stroked-2" (click)="limpiar()" type="submit">Limpiar</button>

  </table>
  </form>
  
</div>